version: '3'

services:
  php-rts-php:
    build:
      dockerfile: Dockerfile
      context: .
    entrypoint: sleep infinity
    volumes:
      - .:/app
      - ./docker/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
  php-rts-redis:
    image: redislabs/redistimeseries:1.4.10
