<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnSkipped="false"
         stopOnIncomplete="false"
         processIsolation="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="General">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory>./src/Exception</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml" />
    </logging>
</phpunit>
